
.image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

h1{
    color: #ffd700;
}

.parrafo {
    white-space: pre;
    font-size: medium;
    color: #ffae00;
}